APP_DEBUG=
APP_ENV=
APP_KEY=
APP_NAME=
BACKEND_URL=
BROADCAST_CONNECTION=
CACHE_STORE=
CORS_ALLOWED_ORIGINS=
DB_CONNECTION=
DB_DATABASE=
DB_HOST=
DB_PASSWORD=
DB_PORT=
DB_USERNAME=
FILESYSTEM_DISK=
FRONTEND_URL=
LOG_CHANNEL=
LOG_LEVEL=
QUEUE_CONNECTION=
SESSION_DRIVER=
SESSION_LIFETIME=
VITE_API_URL=